/* Reset and base styles  */
* {
   padding: 0px;
   margin: 0px;
   border: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

:focus,
:active {
   /*outline: none;*/
}

a:focus,
a:active {
   /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {

   text-decoration: none;
   /* display: inline-block; */
}

a:hover {
   /* color: inherit; */
   text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
   font-weight: inherit;
}

ul,
ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

img,
svg {
   max-width: 100%;
   height: auto;
}

address {
   font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
   font-family: inherit;
   font-size: inherit;
}

input::-ms-clear {
   display: none;
}

button,
input[type="submit"] {
   display: inline-block;
   box-shadow: none;
   cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
   outline: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

label {
   cursor: pointer;
}

legend {
   display: block;
}

/*TECH*****************************TECH***************************TECH*/

body {
   min-width: 1600px;
   font-family: 'Roboto', sans-serif;
   line-height: 1;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1160px;
   margin: 0 auto;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}

/*TITLES_&_TEXT*****************************TITLES_&_TEXT********************TITLES_&_TEXT*/

._title {
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 58px;
   /* identical to box height, or 58px */
   text-align: center;
   color: #FE9013;
}

.title__grey {
   font-weight: 400;
   font-size: 36px;
   line-height: 130%;
   color: #333B41;
   text-align: center;
}

._subtitle {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
   color: #333B41;
}

._subtitle_small {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #333B41;
}

._text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   color: #333B41;
}

/*LOGO*****************************LOGO***************************LOGO*************/

._logo {
   font-style: normal;
   font-weight: 400;
   font-size: 19.0145px;
   line-height: 120%;
   text-align: center;
   color: #FFFFFF;
   border: 1.18841px solid #FFFFFF;
   border-radius: 2px;
   padding: 4.75px;
   position: relative;
}

._logo::before {
   content: "";
   position: absolute;
   left: 10px;
   top: 25px;
   width: 12px;
   height: 21px;
   background-image: url('../../assets/icons/bamboo.svg');
}

/*BUTTONS*****************************BUTTONS***************************BUTTONS*/

._button_orange {
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   width: 298px;
   height: 54px;
   align-self: center;
   margin: 60px 0 0 0;
   color: #FFFFFF;
   cursor: pointer;
}

._button_orange:hover {
   background: #E47209;
}

._button_orange:active {
   background: #4B9200;
}

._button_orange_square {
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   width: 298px;
   height: 54px;
   align-self: center;
   color: #FFFFFF;
   cursor: pointer;
}

._button_orange_square:hover {
   background: #E47209;
}

._button_orange_square:active {
   background: #4B9200;
}

button>a {
   color: #FFFFFF;
}

/*HEADER*****************************HEADER***************************HEADER*/

.header {
   background-color: #000000;
}

.header__container {
   display: flex;
   height: 80px;
   align-items: center;
}

.header__logo {
   font-style: normal;
   font-weight: 400;
   font-size: 19.0145px;
   line-height: 120%;
   text-align: center;
   color: #FFFFFF;
   border: 1.18841px solid #FFFFFF;
   border-radius: 2px;
   padding: 4.75px;
   position: relative;
}

.header__logo>h1 {
   color: #FFFFFF;
}

.header__logo::before {
   content: "";
   position: absolute;
   left: 10px;
   top: 25px;
   width: 12px;
   height: 21px;
   background-image: url('../../assets/icons/bamboo.svg');
}

.header__menu {
   margin: 0 0 0 63px;
   flex-grow: 1;
}

.menu__list {
   display: flex;
}

.menu__item>a {
   color: #FFFFFF;
}

.menu__item>a:focus {
   color: #F9804B;
}

.menu__item:not(:last-child) {
   margin: 0 58px 0 0;
}

.menu__link {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(22 / 16 * 100%);
}

.menu__link:active {
   color: #F9804B;
}

.menu__link>a:focus {
   color: #F9804B;
}

.menu__link:hover {
   color: #F9804B;
}


.header__design {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: #FFFFFF;
}

.header__design:hover {
   color: #F9804B;
}

/*MAIN*****************************MAIN***************************MAIN*/

.main {
   flex: 1 1 auto;
}

.main__main-block {}

.main__backstage-block {}

.main__animals-block {
   margin: 180px 0 0 0;
}

.main__friend-block {}

.main__testimonails-block {
   margin: 140px 0 0 0;
}

/*MAIN-BLOCK*****************************MAIN-BLOCK***************************MAIN-BLOCK*/

.main-block {
   position: relative;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.main-block__container {
   display: flex;
   justify-content: end;
}

.main-block__body {
   padding: 86px 0 214px 0;
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   max-width: 500px;
}

.main-block__circle {}

.main-block__text {
   font-weight: 700;
   font-size: 106.496px;
   line-height: 80px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   position: relative;
   z-index: 100;
}

.main-block__text::before {
   content: "";
   position: absolute;
   top: -75px;
   left: -75px;
   width: 465px;
   height: 465px;
   background-image: url('../../assets/images/main/Ellipse\ 6.png');
   z-index: -1;
}

.main-block__button {
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   width: 298px;
   height: 54px;
   align-self: center;
   margin: 60px 0 0 0;
   color: #FFFFFF;
   cursor: pointer;
}

.main-block__button:hover {
   background: #E47209;
}

.main-block__button:active {
   background: #4B9200;
}

.main-block_favorite {
   color: #FFEE2E;
}

/*BACKSTAGE-BLOCK*********************BACKSTAGE-BLOCK***********************BACKSTAGE-BLOCK*/


.backstage-block {}

.backstage-block__container {}


.backstage-block__body {
   margin: 140px 20px 0 0;
   display: flex;
   position: relative;
}

.backstage-block__items {
   max-width: 465px;
   margin: 0 0 0 87px;
}

.backstage-block__item {}

.backstage-block__item:not(:last-child) {
   margin: 0 0 54px 0;
}

.backstage-block__image {}

.item__name {
   font-weight: 400;
   font-size: 48px;
   line-height: 120%;
   color: #333B41;
   padding: 0 0 20px 0;
}

.item__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #333B41;
}

.item__subheading {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
   color: #333B41;
   padding: 0 0 34px 0;
}

.backstage-block__flower {
   float: right;
   margin: -530px 0 0 0;
}

/*ANIMALS-BLOCK*********************ANIMALS-BLOCK***********************ANIMALS-BLOCK*/

.animals-block {}

.animals-block__arrow {
   width: 62px;
   height: 62px;
   border-radius: 50%;
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   align-self: center;
}

.animals-block__arrow:active {
   background: #4B9200
}

.animals-block__container {
   margin-left: 0;
   margin-right: 0;
}

.animals-block__body {}

.animals-block__items {
   display: flex;
   flex-wrap: wrap;
   gap: 20px 30px;
}

.animals-block__card {
   background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, #FA6F32, #FE9013) border-box;
   border: 1px solid transparent;
   border-radius: 5px;
   flex: 1 1 auto;
   max-width: 366px;
}

.card__upper {
   position: relative;
   overflow: hidden;
   height: 366px;
   margin: 0 0 8px 0;
}

.card__image {}

.card__image:hover {
   transition: .5s ease all;
   transform: scale(1.05);
}

.card__info {
   display: flex;
   justify-content: space-between;
}

.card__description {
   margin: 0 0 0 16px;
   padding: 0 0 14px 0;
   max-width: 294px;
}

.card__name {
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
   color: #000000;
}

.card__text {
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   color: #000000;
   line-height: 18px;
}

.card__icons {
   padding: 0px 15px 0px 0;
   position: relative;
}

.card__icon {}

._icon-banana {
   position: absolute;
   top: 3px;
   left: -5px;
}

._icon-fish {
   position: absolute;
   top: 8px;
   left: 8px;
}

.animals-block__overall {
   display: flex;
   max-width: 1330px;
   margin: 0 auto;
}

._arrow-left {
   margin: 0 20px 0 0;
   position: relative;
}

._arrow-left::before {
   content: "";
   position: absolute;
   top: 28px;
   left: 23px;
   width: 16px;
   height: 8px;
   background-image: url('../../assets/icons/animals-cards-icons/arrow.svg');
   background-position: center;
   z-index: 4;
}

._arrow-right {
   margin: 0 0 0 20px;
   position: relative;
}

._arrow-right::before {
   content: "";
   position: absolute;
   top: 28px;
   left: 23px;
   width: 16px;
   height: 8px;
   background-image: url('../../assets/icons/animals-cards-icons/arrow_right.svg');
   background-position: center;
   z-index: 4;
}

.animals-block__footer {
   margin: 80px 0 0 0;
}

.animals-block__button {
   margin: 0 auto;
}

.animals-block__flowers {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-top: -360px;
}

.animals-block__flower_left {
   max-width: fit-content;
   margin: -380px 0 0 0;
}

.animals-block__flower_right {
   float: right;
   max-width: fit-content;
   margin: -275px 0 0 0;
}


/*FRIEND-BLOCK*********************FRIEND-BLOCK***********************FRIEND-BLOCK*/


.friend-block {
   padding: 69px 0 100px 0;
   background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
   opacity: 0.9;
}

.friend-block__container {}

.friend-block__wrapper {
   display: flex;
}

.friend-block__body {
   background: rgba(253, 253, 255, 0.52);
   backdrop-filter: blur(2px);
   border-radius: 20px;
   padding: 30px 50px 59px 50px;
   position: relative;
}

.friend-block__info {
   padding: 0 0 60px 0px;
   margin: 0 0 0 40px;
}

.friend-block__title {
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 58px;
   /* identical to box height, or 58px */
   text-align: center;
   color: #FE9013;
   padding: 0 0 30px 0;
   margin: 0 0 0 -40px;
}

.friend-block__subtitle {
   margin: 0 0 40px 0;
}

.friend-block__subtitle_small {
   margin: 0 0 10px 0;
}

.friend-block__text {}

.frend-block__cards {
   margin: 0 auto;
   max-width: 764px;
}

.cards__title {
   font-weight: 400;
   font-size: 36px;
   line-height: 130%;
   color: #333B41;
   text-align: center;
}

.cards__items {
   display: flex;
   gap: 30px;
   margin: 40px 0 0 0;

}

.cards__column {
   display: flex;
   flex-direction: column;
   flex: 0;
}

.cards__item {
   background-color: #FFFFFF;
   background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, #FA6F32, #FE9013) border-box;
   border: 1px solid transparent;
   border-radius: 5px;
   display: flex;
   width: 168px;
   height: 168px;
   justify-content: center;
}

.cards__icon {
   align-self: center;
}

.cards__text {
   margin: 30px 0 0 0;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: #333B41;
}

.cards__arrow {
   margin: 70px 0 0 0;
}

.friend-block__footer {
   display: flex;
   justify-content: center;

}

.friend-block__button {}

.text__link {
   border-bottom: 1px solid #FE9013;
   padding-bottom: 1px;
   color: #333B41;
}

.text__link>a {
   color: #333B41;
}

/*TESTIMONIALS-BLOCK***************TESTIMONIALS-BLOCK******************TESTIMONIALS-BLOCK*/

.testimonails-block {}

.testimonails-block__container {}


.testimonails-block__body {}

.testimonails-block__title {}

.testimonails-block__cards {
   display: flex;
   gap: 30px;
   margin: 47px 0 0 0;
}

.testimonails-block__column {
   background: linear-gradient(#F1F3F2, #F1F3F2) padding-box,
      linear-gradient(to left top, rgba(254, 189, 171, 0.74) 6.48%, rgba(243, 169, 248, 0.66) 22.51%, rgba(224, 216, 240, 1), rgba(234, 247, 254, 1), rgba(234, 247, 254, 1)) border-box;
   border: 2px solid transparent;
   border-radius: 20px;
   width: 268px;
   height: 391px;
   overflow: hidden;
   padding: 15px 15px 19px 16px;
   flex: 1;
}

.column__header {
   display: flex;
   padding: 0 0 10px 0;
}

.column__info {
   margin: 0 0 0 10px;
}

.column__avatar {}

.column__name {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   /* or 19px */
   color: #000000;
}

.column__description {
   display: inline-flex;
}

.column__local {
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 120%;
   /* identical to box height, or 18px */
   color: #BDBDBD;
}

.column__date {
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 120%;
   /* identical to box height, or 18px */
   color: #BDBDBD;
}

.column__date::before {
   content: "\A";
   width: 2px;
   height: 2px;
   border-radius: 50%;
   background: #BDBDBD;
   display: inline-block;
   margin: 4px 6px;
}

.column__text {
   font-weight: 300;
   font-size: 15px;
   line-height: 120%;
   /* or 18px */
   color: #767474;
}

.testimonials-block__bar {
   margin: 21px 0 0 0;
}

.bar__body {
   width: 599px;
   height: 8px;
   margin: 0 auto;
   background: linear-gradient(#F1F3F2, #F1F3F2) padding-box,
      linear-gradient(to left top, rgba(254, 189, 171, 0.74) 6.48%, rgba(243, 169, 248, 0.66) 22.51%, rgba(224, 216, 240, 1), rgba(234, 247, 254, 1), rgba(234, 247, 254, 1)) border-box;
   border: 2px solid transparent;
   border-radius: 20px;
}

.bar__wheel {
   width: 115.9px;
   height: 6px;
   background: #FE9013;
   border-radius: 5px;
}

.testimonails-block__button {
   margin: 31px 0 0 0;
}

.testimonials-block__flower {
   float: right;
   margin: -60px 0 0 0;
}

/*FOOTER******************************FOOTER**************************FOOTER*********/

.footer {
   background-color: #111115;
   height: 443px;
   padding: 41px 220px 50px 220px
}

.footer__container {}

.footer__body {}

.footer__columns {
   display: flex;
   justify-content: space-between;
}

.column__left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 352px;
}

.footer__logo {
   width: 82px;
   height: 52px;
}

.footer__logo>a {
   color: #FFFFFF;
}

.footer__button {}


.footer__socials {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.socials__item {
   display: flex;
   align-items: center;
}

.socials__icon {
   padding: 0 12px 0 0;
}

.socials__name {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   /* or 22px */
   color: #FFFFFF;
}

.column__center {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.footer__menu {}

._menu {}

.menu__list {}

.menu__item {}

.menu__link {}

.column__right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer__subscribe {}

.subscribe__header {
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
   /* identical to box height, or 29px */
   color: #FFFFFF;
}

.footer__form {
   margin: 14px 0 0 0;
}

.footer__submit {}

.footer__designed {
   font-style: normal;
   font-weight: 100;
   font-size: 16px;
   line-height: 130%;
   /* identical to box height, or 21px */
   color: #FFFFFF;
   align-self: flex-end;
}

.footer__designed>p {
   padding: 0 0 10px 0;
}

.email__enter {
   padding: 10px 7px 10px 10px;
   border: 1px solid orange;
   width: 228px;
   height: 42px;
   background: linear-gradient(black, black) padding-box,
      linear-gradient(45deg, #FA6F32, #FE9013) border-box;
   border: 1px solid transparent;
   color: #FFFFFF;
}

.email__enter::placeholder {
   color: #BDBDBD;
}

.email__enter:focus {
   background: linear-gradient(black, black) padding-box,
      linear-gradient(45deg, #4B9200, #4B9200) border-box;
   border: 1px solid transparent;
}

.email__enter:invalid {}

.button__submit {
   width: 129px;
   height: 42px;
   border: 1px solid #4B9200;
   border-radius: 5px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: #4B9200;
   background: #F1F3F2;
   margin: 0 0 0 10px;
}

.email__enter:active {}